@tailwind base;
@tailwind components;
@tailwind utilities;


//Popup
.popup-edit-overlay {
	.popup-content {
		width: inherit;
		padding: inherit;
		border-radius: 8px;
		-webkit-animation: anvil 0.1s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
		top: -120px;
	}
}
.popup-overlay {
	background: rgba(0, 0, 0, 0.5);
  }
[data-popup='tooltip'].popup-overlay {
	background: transparent;
  }

@keyframes anvil {
	0% {
		transform: scale(1) translateY(0px);
		opacity: 0;
		box-shadow: 0 0 0 rgba(241, 241, 241, 0);
	}

	1% {
		transform: scale(0.96) translateY(10px);
		opacity: 0;
		box-shadow: 0 0 0 rgba(241, 241, 241, 0);
	}

	100% {
		transform: scale(1) translateY(0px);
		opacity: 1;
		box-shadow: 0 0 500px rgba(241, 241, 241, 0);
	}
}

.popover-edit-content {
	margin: 24px 0px 0px 0px !important;
	width: inherit !important;
	border: none !important;
	// box-shadow: 0 0 5px rgb(0 0 0 / 16%) !important;
	box-shadow: 0px 4px 40px rgba(47, 65, 110, 0.12) !important;
	-webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
	position: fixed !important;
	top: 48px !important;
}

.popover-bottom-left-content {
	margin: 24px 0px 0px -20px !important;
}

.popover-bottom-left-muanhaphang-content {
	margin: 24px 0px 0px -220px !important;
}

.popover-khosanxuat-content {
	margin: 24px 0px 0px 40px !important;
}

.popover-khac-content {
	margin: 24px 0px 0px -65px !important;
}

.dropdown-edit-content{
	margin: 5px 0px 0px 15px !important;
	width: inherit !important;
	border: none !important;
	box-shadow: 0px 4px 40px rgba(47, 65, 110, 0.12) !important;
	-webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;

}

//arrow tooltip
.arrow-danhmuc-arrow{
	position: relative !important;
	left: 21px;
}

.arrow-banxuathang-arrow{
	position: relative !important;
	left: 19px;
}

.arrow-muanhaphang-arrow{
	position: relative !important;
	left: 213px;
}

.popover-khosanxuat-arrow{
	position: relative !important;
	left: -43px;
}

.popover-khac-arrow{
	position: relative !important;
	left: 63px;
}

//scroll bar
.scrollarea .scrollbar-container.vertical .scrollbar {
	background: #94a3b8 !important;
	border-radius: 50px;
}

.scrollarea .scrollbar-container.active,
.scrollarea .scrollbar-container:hover {
	background: #f1f5f9 !important;
	border-radius: 50px !important;
}

//button animation
.btn-animation {
	background-size: 300% 100%;
	transition: all .4s ease-in-out;

	&:hover {
		background-position: 100% 0;
		transition: all .4s ease-in-out;
	}
}