@tailwind base;
@tailwind components;
@tailwind utilities;

//input eye password
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
    overflow: hidden;
}
body {
    background-color: white;
}

.react-datepicker {
    width: max-content;
}
// body::-webkit-scrollbar {
//     width: 4px;
// }

// body::-webkit-scrollbar-track {
//     background: #f1f1f1;
// }

// body::-webkit-scrollbar-thumb {
//     background: #bfdbfe;
//     border-radius: 5px;
// }

// body::-webkit-scrollbar-thumb:hover {
//     background: #93c5fd;
// }

/* Ngăn focus trên toàn bộ SimpleBar */
.simplebar-scrollbar:focus,
.simplebar-track:focus,
.simplebar-content-wrapper:focus,
.simplebar-content:focus,
.simplebar-offset:focus,
.simplebar-mask:focus {
    outline: none !important;
    box-shadow: none !important;
}

@layer utilities {
    .hide-scrollbar .simplebar-track {
        display: none !important;
    }
}

/// cuộn dọc
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: #94a3b8;
    // background-color: #94a3b8;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    // background-image: linear-gradient(yellow, red);
}
.simplebar-track {
    opacity: 1;
}

.simplebar-track.simplebar-vertical {
    width: 9px;
}
.simplebar-track.simplebar-horizontal {
    height: 9px;
}

// .simplebar-mask {
//     z-index: 1;
// }
/// cuộn ngang
///
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    background-color: #94a3b8;
    // background-color: #94a3b8;
}
.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.popup-overlay.popup-updated-version-overlay {
    .popup-content {
        width: inherit;
        padding: inherit;
        border-radius: 8px;
        -webkit-animation: anvil 0.1s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
        top: 0px;
    }
}

//Popup
.popup-edit-overlay {
    .popup-content {
        width: inherit;
        padding: inherit;
        border-radius: 8px;
        -webkit-animation: anvil 0.1s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
        // top: -120px;
    }
}
.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
    background: transparent;
}

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }

    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }

    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.popover-edit-content {
    margin: 24px 0px 0px 0px !important;
    width: inherit !important;
    border: none !important;
    // box-shadow: 0 0 5px rgb(0 0 0 / 16%) !important;
    box-shadow: 0px 4px 40px rgba(47, 65, 110, 0.12) !important;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    position: fixed !important;
    top: 38px !important;
}
.react-datepicker-popper {
    z-index: 999 !important;
}

.popover-bottom-left-content {
    margin: 24px 0px 0px -20px !important;
}

.popover-bottom-left-muanhaphang-content {
    margin: 24px 0px 0px -220px !important;
}

.popover-khosanxuat-content {
    margin: 24px 0px 0px 40px !important;
}

.popover-khac-content {
    margin: 24px 0px 0px 0px !important;
}

.popover-quytrinh-content {
    margin: 24px 0px 0px 25px !important;
}
.popover-thongbao-content {
    margin: 24px 0px 0px 30px !important;
}

.dropdown-edit-content {
    margin: 5px 0px 0px 15px !important;
    width: inherit !important;
    border: none !important;
    box-shadow: 0px 4px 40px rgba(47, 65, 110, 0.12) !important;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

// arrow tooltip
.arrow-danhmuc-arrow {
    position: relative !important;
    left: 21px;
}

.arrow-banxuathang-arrow {
    position: relative !important;
    left: 19px;
}

.arrow-muanhaphang-arrow {
    position: relative !important;
    left: 220px;
}

.popover-khosanxuat-arrow {
    position: relative !important;
    left: -43px;
}

.popover-khac-arrow {
    position: relative !important;
    left: 0px;
}

.popover-quytrinh-arrow {
    position: relative !important;
    left: -23px;
}
.popover-thongbao-arrow {
    position: relative !important;
    left: -28px;
}

// .popover-productionPlan-arrow {
//     position: relative !important;
//     left: 50%;
//     transform: translateX(-50%);
//     // color: gray;
// }
.popover-ai-content {
    transform: translateX(-2%);
    z-index: 99999 !important;
}

//scroll bar
.scrollarea .scrollbar-container.vertical .scrollbar {
    background: #94a3b8 !important;
    border-radius: 50px;
}

.scrollarea .scrollbar-container.active,
.scrollarea .scrollbar-container:hover {
    background: #f1f5f9 !important;
    border-radius: 50px !important;
}

//button animation
.btn-animation {
    background-size: 300% 100%;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-position: 100% 0;
        transition: all 0.4s ease-in-out;
    }
}

//alert
.swal2-popup.swal2-toast {
    .swal2-html-container {
        font-size: 14px !important;
        margin: 0em 1em !important;
    }
}

/// .Select__single-value,
.Select__custom .Select__single-value {
    white-space: initial !important;
    overflow: visible !important;
    text-overflow: ellipsis !important;
    display: block;
}

.removeDivide .css-1u9des2-indicatorSeparator {
    width: 0px;
}
.transition-all.ease-out.duration-300.absolute.z-10 {
    bottom: 0 !important;
    transform: translateY(100%) !important;
    z-index: 999;
}

/// model img Chi tiet YCMH

// .custom-modal-image .__react_modal_image__modal_container {
// 	width: 100vw;
// 	height: 100vh;
// 	left: -43%;
//   }

// .custom-modal-image .__react_modal_image__modal_content {
// 	/* styles for modal content */
//   }

.i::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 20%;
    background: white;
    /*   background: #3B82F6; */
    /* Centering */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.i:hover:before {
    animation: anim-in 0.7s forwards ease-out;
}

@keyframes anim-in {
    100% {
        opacity: 0%;
        border-radius: 0;
        width: 600px;
        height: 600px;
    }
    0% {
        width: 0px;
        height: 0px;
        border-radius: 100%;
        opacity: 20%;
    }
}

.css-1wrc81n-control,
.css-nrfwoj-control {
    cursor: pointer !important;
}
.css-13cymwt-control {
    cursor: pointer !important;
}
.customDropdow__indicator {
    padding: 15px 0px !important;
}
.customDropdow__control {
    cursor: pointer !important;
}
.customDropdowTax__indicator {
    padding: 0px 0px !important;
}
.customDropdowDefault__control {
    border: none !important;
    padding: 0;
}
.customDropdowDefault__indicator {
    padding: 0px 0px !important;
}
.CircularProgressbar {
    width: 80px;
}
.classNamePrefixLotDateSerial__value-container
    .classNamePrefixLotDateSerial__multi-value
    .classNamePrefixLotDateSerial__multi-value__label
    div {
    display: none;
}
// .classNamePrefixLotDateSerial__value-container .customDropdow  {
//     display: none;
// }
/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

.CircularProgressbar {
    width: 50%;
    vertical-align: middle;
    margin: 0 auto;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #3e98c7;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
    stroke-linecap: round;
}
.CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
    fill: #d6d6d6;
}
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
    fill: #3e98c7;
}
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(-5%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
.animate-bounce-custom {
    animation: bounce 1s infinite;
}
.columns {
    display: flex;
}

.draggable {
    user-select: none;
    padding: 8px;
    margin: 0 0 8px 0;
    background-color: #ccc;
    border-radius: 2px;
}
// Trong tổng quan sản xuất/

.customSlectFilter__control {
    outline: none !important;
    border: none !important;
    background-color: #f9fafb !important;
    border-radius: 8px !important;
}
.customSlectFilter__placeholder {
    font-size: 11px !important;
    color: #6b7280 !important;
}
.customSlectFilter__input-container {
    padding: 8px 5px !important;
    // font-size: 10px !important;
}
.customSlectFilter__indicator svg {
    width: 12px !important;
    height: 12px !important;
}
.customSlectFilter__indicator-separator {
    display: none;
}
.customSlectFilter__single-value {
    font-size: 14px;
}
.customSlectFilter__menu {
    border-radius: 12px !important;
    box-shadow: none !important;
    border: 1px solid #9ca3af !important;
}
.customSlectFilter__menu-list {
    padding: 0 !important;
    border-radius: 12px !important;
}
.customSlectFilter__option {
    font-size: 13px !important;
    color: #4b5563 !important;
    background-color: #f1f5f9 !important;
    transition: all 0.5s ease-in-out !important;
}
.customSlectFilter__option--is-selected {
    background-color: #6b7280 !important;
    color: white !important;
}
.customSlectFilter__option:hover {
    transition: all 0.5s ease-in-out !important;
    color: white !important;
    background-color: #6b7280 !important;
}
.react-datepicker__close-icon::after {
    color: gray !important;
    background-color: transparent !important;
}
.react-datepicker-wrapper {
    width: 100% !important;
}

/// select trong model  Điều độ sản xuất productionSmoothing
.productionSmoothing__control {
    border: 1px solid #d8dae5 !important;
    border-radius: 6px !important;
}
.productionSmoothing__indicator-separator {
    display: none !important;
}
.productionSmoothing__indicator svg {
    width: 15px !important;
    height: 15px !important;
}
.productionSmoothing__placeholder {
    font-size: 12px !important;
    color: #6b7280 !important;
}
/// select trong model  Điều độ sản xuất productionSmoothing popup

///lịch

#menu-time {
    z-index: 9999;
}

//nhân viên
.productionSmoothingPopupStaf__control {
    border: 1px solid #e1e1e1 !important;
    border-radius: 9px !important;
    padding: 3px 0 !important;
}
.productionSmoothingPopupStaf__indicator-separator {
    display: none !important;
}
.productionSmoothingPopupStaf__indicator svg {
    width: 20px !important;
    height: 20px !important;
}
.productionSmoothingPopupStaf__placeholder {
    font-size: 12px !important;
    color: #6b7280 !important;
}
// .productionSmoothingPopupStaf__input-container {
//     padding: 4px !important;
// }
// .productionSmoothingPopupStaf__multi-value {
//     background-color: transparent !important;
// }
// .productionSmoothingPopupStaf__multi-value__remove {
//     left: 0 !important;
//     transform: translate(-150%, 0);
//     background-color: transparent !important;
// }
// .productionSmoothingPopupStaf__multi-value__remove svg {
//     color: #1556d9 !important;
// }

///công đoạn
.productionSmoothingPopupStages__control {
    border: 1px solid #e1e1e1 !important;
    border-radius: 9px !important;
    padding: 3px 0 !important;
}
.productionSmoothingPopupStages__indicator-separator {
    display: none !important;
}
.productionSmoothingPopupStages__indicator svg {
    width: 20px !important;
    height: 20px !important;
}
.productionSmoothingPopupStages__placeholder {
    font-size: 12px !important;
    color: #6b7280 !important;
}

.clip-arrow {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
}
/// css phân trang
.disabled-page {
    color: #808e9b;
}

.page-item.active a {
    color: white;
    background-color: #0f4f9e;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 8px;
    font-weight: 600;
}
.page-item a {
    background-color: #e2e8f0;
    color: black;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    display: block;
}
.page-item a:hover {
    background-color: #e3e3e3;
}

.pagination {
    align-items: center;
    display: flex;
    gap: 4px;
}

// .__react_modal_image__modal_content {
//     z-index: 999 !important;
// }
// .__react_modal_image__modal_container {
//     width: 100vw !important;
//     height: 100vh !important;
// }
